{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <div>
      <h1>Création d'un employé navigant</h1>
    </div>
    <br>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
          <form class="form" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            {{ wtf.form_field(form.nbr_heures_vol) }}
            {{ wtf.form_field(form.fonction) }}
            {{ wtf.form_field(form.num_licence_pilote) }}
            {{ wtf.form_field(form.submit) }}
          </form>
        </div>
    </div>
{% endblock %}
