{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <div>
      <h1>Création d'un employé</h1>
    </div>
    <br>
    <div>
      Déclarer un nouvel employé grâce à ses données personnelles. <br> Des informations supplémentaires seront demandées si l'employé est navigant.
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
          <form class="form" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            {{ wtf.form_field(form.numero_securite_sociale) }}
            {{ wtf.form_field(form.nom) }}
            {{ wtf.form_field(form.prenom) }}
            {{ wtf.form_field(form.adresse) }}
            {{ wtf.form_field(form.ville) }}
            {{ wtf.form_field(form.pays) }}
            {{ wtf.form_field(form.salaire) }}
            {{ wtf.form_field(form.type) }}
            {{ wtf.form_field(form.submit) }}
          </form>
        </div>
    </div>
{% endblock %}
