{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <div>
      <h1>Caractérisation de l'employé navigant <button id="btn_information" type="button" class="btn btn-default btn-xs">?</button></h1>
    </div>
    <br>
    <div id="information_form" style="display:none">
      Vous venez de créer un employé navigant. Veuillez compléter ses informations.
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
          <form class="form" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            {{ wtf.form_field(form.fonction) }}
            {{ wtf.form_field(form.num_licence_pilote) }}
            {{ wtf.form_field(form.submit) }}
          </form>
        </div>
    </div>
    <script>
      $(document).ready(function(){
        $('#btn_information').click(function(){
          $('#information_form').toggle();
        });
      });
    </script>
{% endblock %}
