{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div>
      <h1>Gérer la base de données</h1>
    </div>
    <br>
    <div>
      Supprimer des entités de la base de données.
    </div>
    <br>
    <div style="float: left; margin-bottom:10px; width: 20%">
      <div class="dropdown">
        <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Entités à modifier
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a id="btn_employes" >Employés</a></li>
            <li><a id="btn_vols" >Vols</a></li>
            <li><a id="btn_departs" >Départs</a></li>
          </ul>
      </div>
    </div>
    <div style="float: left; margin-bottom:10px; width:80%">
    <!-- <form action="{{ url_for('gestion') }}" > -->
    <input id="btnGetSelected" class="btn btn-danger btn-lg" type="submit" value="Supprimer">
    <!-- </form> -->
    </div>
    <table id="table_employes" class="table" style="display:none">
    <thead>
        <tr>
            <th>Numéro sécurité sociale</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Fonction</th>
            <th>Supprimer</th>
        <tr>
    </thead>
    <tbody>
        {% for person in employes %}
        <tr>
          {% if person.numero_securite_sociale %}
            <td>{{ person.numero_securite_sociale }}</td>
            <td>{{ person.nom }}</td>
            <td>{{ person.prenom }}</td>
            <td>{{ person.fonction }}</td>
            <td><input type="checkbox" name="A" value={{ person.numero_securite_sociale }} ></td>
          {% else %}
          {% endif %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <table id="table_vols" class="table" style="display:none">
  <thead>
      <tr>
          <th>Numéro de vol</th>
          <th>Départ</th>
          <th> </th>
          <th>Arrivée</th>
          <th> </th>
          <th>Liaison effectuée</th>
          <th>Supprimer</th>
      <tr>
  </thead>
  <tbody>
      {% for vol in vols %}
      <tr>
          <td>{{ vol.num_vol}}</td>
          <td>{{ vol.ville_depart }}</td>
          <td>{{ vol.ts_depart }}</td>
          <td>{{ vol.ville_arrivee }}</td>
          <td>{{ vol.ts_arrivee }}</td>
          <td>{{ vol.liaison}}</td>
          <td><input type="checkbox" name="B" value={{ vol.num_vol}} ></td>
      </tr>
      {% endfor %}
  </tbody>
  </table>
  <table id="table_departs" class="table" style="display:none">
  <thead>
      <tr>
          <th>Numéro de départ</th>
          <th>Numéro de vol</th>
          <th>Pilotes</th>
          <th>Équipage</th>
          <th>Supprimer</th>
      <tr>
  </thead>
  <tbody>
      {% for depart in departs %}
      <tr>
          <td>{{ depart.id_departs}}</td>
          <td>{{ depart.num_vol}}</td>
          <td>{{ depart.pilotes}}</td>
          <td>{{ depart.equipage}}</td>
          <td><input type="checkbox" name="C" value={{ depart.num_vol}} ></td>
      </tr>
      {% endfor %}
  </tbody>
  </table>
  <script>
    $(document).ready(function(){
      $('#btn_employes').click(function(){
        $('#table_vols').hide();
        $('#table_departs').hide();
        $('#table_employes').toggle();
        $('#table_vols').hide();
        $('#table_departs').hide();
      });
      $('#btn_vols').click(function(){
        $('#table_employes').hide();
        $('#table_departs').hide();
        $('#table_vols').toggle();
        $('#table_employes').hide();
        $('#table_departs').hide();
      });
      $('#btn_departs').click(function(){
        $('#table_employes').hide();
        $('#table_vols').hide();
        $('#table_departs').toggle();
        $('#table_employes').hide();
        $('#table_vols').hide();
      });
      $("#btnGetSelected").click(function(){
        var a = getCheckedCheckboxes('A');
        var b = getCheckedCheckboxes('B');
        var c = getCheckedCheckboxes('C');
        console.log(a);
        console.log(b);
        var submitObject = {'A': a, 'B': b, 'C':c};
        $.ajax({
          url: "/get_suppression",
          type: "POST",
          data: JSON.stringify(submitObject),
          contentType: "application/json; charset=utf-8",
          success: function(){
            window.location.href = "gestion";
          }
        });
      })
      var getCheckedCheckboxes = function(groupName){
        var result = $('input[name="' + groupName + '"]:checked');
        if (result.length > 0){
          var resultString = [];
          result.each(function(){
            resultString.push($(this).val());
          });
        }
        else {
          var resultString = []
        };
        return resultString;
      }
    });
  </script>
{% endblock %}
