{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
  <div>
    <h1>Réservation d'un billet <button id="btn_information" type="button" class="btn btn-default btn-xs">?</button></h1>
  </div>
  <br>
  <div id="information_form" style="display:none">
    Réserver un billet pour un passager en sélectionnant un départ.
  </div>
  <br>
  <div class="row" style="float: left; margin-bottom:20px; width: 100%">
      <form class="form" method="post" role="form">
        <table id="table_departs" class="table">
        <thead>
            <tr>
                <th>Numéro de depart</th>
                <th>Départ</th>
                <th> </th>
                <th>Arrivée</th>
                <th> </th>
                <th>Liaison effectuée</th>
                <th>Places libres</th>
                <th>Sélectionner</th>
            <tr>
        </thead>
        <tbody>
            {% for depart in departs %}
            <tr>
                <td>{{ depart.id_depart}}</td>
                <td>{{ depart.ville_depart }}</td>
                <td>{{ depart.ts_depart }}</td>
                <td>{{ depart.ville_arrivee }}</td>
                <td>{{ depart.ts_arrivee }}</td>
                <td>{{ depart.liaison}}</td>
                <td>{{ depart.places_libres}}</td>
                <td><input type="radio" name="selection" value={{ depart.id_depart}} ></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        {{ wtf.form_field(form.submit) }}
    </form>
  </div>
  <script>
    $(document).ready(function(){
      $('#btn_information').click(function(){
        $('#information_form').toggle();
      });
    });
  </script>
{% endblock %}
