{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div>
  <h1>Informations passager <button id="btn_information" type="button" class="btn btn-default btn-xs">?</button></h1>
</div>
<br>
<div id="information_form">
  Compléter les informations du passager réservant le billet suivant.
</div>
<br>
<div>
  <table id="table_departs" class="table">
  <thead>
      <tr>
          <th>Numéro de depart</th>
          <th>Départ</th>
          <th> </th>
          <th>Arrivée</th>
          <th> </th>
          <th>Liaison effectuée</th>
      <tr>
  </thead>
  <tbody>
    <tr>
        <td>{{ depart.id_depart}}</td>
        <td>{{ depart.ville_depart }}</td>
        <td>{{ depart.ts_depart }}</td>
        <td>{{ depart.ville_arrivee }}</td>
        <td>{{ depart.ts_arrivee }}</td>
        <td>{{ depart.liaison}}</td>
    </tr>
  </tbody>
  </table>
</div>
<form class="form" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}
  {{ wtf.form_field(form.submit) }}
</form>
<script>
  $(document).ready(function(){
    $('#btn_information').click(function(){
      $('#information_form').toggle();
    });
  });
</script>
{% endblock %}
